.section1 {
    width: 100vw;
    max-width: 100%;
    height: 600px;
    position: fixed;
    top: 0;
    z-index: -9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 {
    width: 100vw;
    max-width: 100%;
    height: 900px;
    position: fixed;
    top: calc(600px * 1);
    z-index: 99;

    background-color: #572148;
}

.section3 {
    width: 100vw;
    max-width: 100%;
    height: 600px;
    position: fixed;
    top: calc(600px * 2);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    text-align: center;

    font-size: 30px;

    background-color: #030014;
}

.name { 
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    font-family: 'Great Vibes', cursive;
    font-size: 10vw;
    color: white;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
}

.space {
    position: fixed;
    top: 0;
}


.svg_curve_top {
    width: 100%;
    height: 12vh;
    position: fixed;
    transform: translateY(-99%);
}

.svg_curve_bottom {
    width: 100%;
    height: 5vh;
    position: fixed;
}

.section2_container {
    padding: 30px;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30vh;
}

.right {
    width: 50%;
    height: 100%;
    display: table-row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40vh;
}

.image {
    width: 60%;
    height: auto;
    top: 10%;
    border-radius: 50%;
    box-shadow: 0 0 10px 5px black;
    z-index: 99;
}

.aboutme {
    font-size: 3vw;
    text-align: center;
    color: white;
}

a.button {
    text-decoration: none;
    color: white;
    background-color: #030014;
    padding: 8px 20px;
    border-radius: 4px;
    outline: none;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    margin: 3em;
}

a.button:hover {
    background-color: #fff;
    color: rgb(0, 0, 0);
    border: none;
}

@media screen and (max-width: 1100px) {
    .main-container {
        height: 100vh !important;
    }

    .section2_container {
        height: auto;
        padding: 0;
    }

    .section1 {
        width: 100vw;
        max-width: 100%;
        height: 50%;
        position: relative;
        top: 0;
        z-index: -9;
        display: block;
        justify-content: center;
        align-items: center;
    }
    
    .section2 {
        width: 100vw;
        max-width: 100%;
        height: 50%;
        position: static;
        z-index: 99;
    
        background-color: #572148;
    }

    .name { 
        position: static;
        margin-left: 50vw;
        padding-bottom: 0vw;
        font-size: 4em;
        width: 100vw;
        line-height: 4em;
        height: 0vh;      
        overflow: hidden; 
    }
    
    .space {
        position: static;
        max-width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
    
    
    .svg_curve_top {
        width: 100vw;
        height: 5vh;
        z-index: 95;
        position: static;
        transform: translateY(-99%);
    }
    
    .svg_curve_bottom {
        width: 100vw;
        height: 5vh;
        z-index: 95;
        position: static;
    }

    .left {
        visibility: hidden;
        width: 0%;
        height: 0%;
        max-width: 0px;
        max-height: 0px;
    }

    .right {
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0;
    }

    .aboutme {
        font-size: 6vw;
    }

    a.button {
        margin: 1em;
    }
}