* {
    font-family: "Georgia", serif;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
    height: 1200px;
    background-color: #030014;
}

body,
div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}